<!doctype html>
<html ng-app="LightsaberApp">
<head>
  <title>This Weapon Is Your Life!!</title>
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/mainController.js"></script>
  <script type="text/javascript" src="./js/resources/character.js"></script>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
  <main ng-controller="MainController">
    <h2 ng-show="selectedCharacter">{{ selectedCharacter.firstName }} weilds a <span class="{{ selectedCharacter.lightsaber | lowercase }}">{{ selectedCharacter.lightsaber }}</span> lightsaber</h2>
    
    <form name="newCharacter" ng-submit="addCharacter()">
      <label>Name</label>
      <input type="text" name="name" ng-model="character.name">
      <label>Lightsaber</label>
      <input type="text" name="lightsaber" ng-model="character.lightsaber">
      <input type="submit" value="Add">
    </form>

    <h1>The Lightsaber Database</h1>
    <blockquote>"An elegant weapon, for a more civilized age." -- <i>Obi-Wan Kenobi</i></blockquote>
    <ul>
      <li ng-repeat="character in characters" ng-click="selectCharacter(character)">
        {{ character.name }}'s lightsaber is <span class="{{ character.lightsaber | lowercase }}">{{ character.lightsaber }}</span> <a href="#" ng-click="editCharacter(character)">Edit</a> <button ng-click="deleteCharacter(character)">Delete</button>
      </li>
    </ul>
  </main>
</body>
</html>